[package]
name = "cgx"
description = "Rust version of uvx or npx, for use with Rust crates"
version = "0.0.1"
edition = "2024"
authors = ["Adam Nelson <anelson@apocryph.org>"]
rust-version = "1.85"
readme = "README.md"
repository = "https://github.com/anelson/cgx"
license = "MIT OR Apache-2.0"
categories = ["command-line-utilities", "development-tools"]

[lints.rust]
unsafe_code = "forbid"

[lints.clippy]
enum_glob_use = "deny"

[badges]
maintenance = { status = "experimental" }

[dependencies]
