[workspace]
members = ["cargo:."]

# Config for 'dist'
[dist]
# The preferred dist version to use in CI (Cargo.toml SemVer syntax)
cargo-dist-version = "0.30.0"
# CI backends to support
ci = "github"
# The installers to generate for each app
installers = ["shell", "powershell"]
# Target platforms to build apps for (Rust target-triple syntax)
targets = [
  "aarch64-apple-darwin",
  "aarch64-unknown-linux-gnu",
  "aarch64-unknown-linux-musl",
  "aarch64-pc-windows-msvc",
  "x86_64-apple-darwin",
  "x86_64-unknown-linux-gnu",
  "x86_64-unknown-linux-musl",
  "x86_64-pc-windows-msvc",
]
# Path that installers should place binaries in
install-path = "CARGO_HOME"
# Whether to install an updater program
install-updater = false

[dist.github-custom-runners]
# Shitty Github Actions support for ARM runners on personal plans has forced me to host
# this repo in an org on a paid Teams plan.  In this org I have created the following "custom" runners, which are still
# Github-hosted and managed, but appear as custom runners:
# - `ubuntu-24.04-arm64` - 2-core 路 8 GB RAM 路 75 GB SSD
# - `windows-11-arm64` - 4-core 路 16 GB RAM 路 150 GB SSD
#
# Dist needs to be told to use these
aarch64-pc-windows-msvc    = "windows-11-arm64"
aarch64-unknown-linux-gnu  = "ubuntu-24.04-arm64"
aarch64-unknown-linux-musl = "ubuntu-24.04-arm64"
