# Based on the example provided in https://blog.orhun.dev/automated-rust-releases/
[workspace]
# path of the git-cliff configuration
changelog_config = "cliff.toml"

# enable changelog updates
changelog_update = true

# update dependencies with `cargo update`
dependencies_update = true

# create tags for the releases
git_tag_enable = true

# disable GitHub releases
git_release_enable = false

# labels for the release PR
pr_labels = ["release"]

# disallow updating repositories with uncommitted changes
allow_dirty = false

# disallow packaging with uncommitted changes
publish_allow_dirty = false

# disable running `cargo-semver-checks`
semver_check = false


# Advance all of the packages' versions in sync, to avoid confusion
[[package]]
name          = "cgx"
version_group = "cgx"

[[package]]
name          = "cargo-cgx"
version_group = "cgx"

[[package]]
name          = "cgx-core"
version_group = "cgx"
